@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Voltaire);
*
	font-family 'Open Sans', sans-serif
	-webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
html
	font-size 100%
body
	height 100%
	margin 0
	padding 0
	
h1
	margin 0
	padding 0
	
footer
	color #FFF
	background #333
	font-size .8rem
	font-weight normal
	height auto
	margin 0
	padding .7em 0 .7em 1em
	width auto
	
header
	background-image url('../img/bg.jpg')
	background-repeat no-repeat
	background-position center
	background-size cover
	height 500px
	padding 1em 0 0 0
	img
		border-radius 20%	
		
.CallToAcction
	font-size 1.1rem
	height auto
	margin 0 auto
	margin-top 3rem
	max-width 600px
	padding 1em 0 1em 0
	text-align center
	width 100%
	a
		background #3498db
		border-radius 5px
		-webkit-border-radius 5px
		-moz-border-radius 5px
		-o-border-radius 5px
		-ms-border-radius 5px
		color #FFF
		padding 1em 5.5em 1em 5.5em
		text-decoration none
	a:hover
		background #2980b9
		

.Columas
	height auto
	margin 2em 0 2em 0 
	text-align center
	width 100%
	.Col1
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 20%
		h2
			color #2980b9
			font-family 'Voltaire', sans-serif
			font-size 1.4rem
			font-weight normal
	.Col2
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 20%
		h2
			color #2980b9
			font-family 'Voltaire', sans-serif
			font-size 1.4rem
			font-weight normal
	.Col3
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 20%
		h2
			color #2980b9
			font-family 'Voltaire', sans-serif
			font-size 1.4rem
			font-weight normal
	.Col4
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 20%
		h2
			color #2980b9
			font-family 'Voltaire', sans-serif
			font-size 1.4rem
			font-weight normal
	
.Contenedor_header
	height auto
	margin 0 auto
	max-width 1200px
	width 100%
	span 
		color red
		font-weight bolder
	h1
		color #333
		font-size 1.2rem
		font-weight 100
	ul li
		color #FFF
		list-style none
		display inline-block
		padding 0 .5em 0 0 
		vertical-align middle
		span
			color #3498db
			

.Clientes
	background lightgrey
	height auto
	margin 0 0 5em 0
	padding 2em 0 2em 0
	width 100%
	.Contenedor_Clientes
		height auto
		margin 0 auto
		max-width 1200px
		text-align center
		width 100%
		.Col_Clientes1
			display inline-block
			height auto
			margin 0 .8em 0 .8em
			vertical-align middle
			width 20%
			img
				height auto
				max-width 150px
				opacity 0.7
				width 100%
		.Col_Clientes2
			display inline-block
			height auto
			margin 0 .8em 0 .8em
			vertical-align middle
			width 20%
			img
				height auto
				opacity 0.7
				max-width 110px
				width 100%
		.Col_Clientes3
			display inline-block
			height auto
			margin 0 .8em 0 .8em
			vertical-align middle
			width 20%
			img
				height auto
				opacity 0.7
				max-width 130px
				width 100%
		.Col_Clientes4
			display inline-block
			height auto
			margin 0 .8em 0 .8em
			vertical-align middle
			width 20%
			img
				height auto
				opacity 0.6
				max-width 150px
				width 100%
				

.Contactenos
	background #3498db
	height auto
	padding 1.5em 0 0 0
	p
		color #FFF
		font-size 2rem
		font-weight 100
	.Contenedor_contactenos
		height auto
		margin 0 auto
		max-width 1000px
		padding 1.5em 0 1.5em 0
		text-align center
		width 100%
		a
			background #34495e
			color #fff
			-webkit-border-radius 3px
			-moz-border-radius 3px
			-o-border-radius 3px
			-ms-border-radius 3p
			padding .7em 1em .7em 1em
			text-decoration none
		a:hover
			background #2c3e50
		input
			border none
			border-radius 3px
			-webkit-border-radius 3px
			-moz-border-radius 3px
			-o-border-radius 3px
			-ms-border-radius 3px
			height 45px
			margin 0 1em 0 0
			padding 0 0 0 .5em
			width 35%
		.small
			font-size 1rem
			font-weight normal
			margin -1.3em 0 0 0 
	
				

.Herramientas
	color grey
	background #f1eeee
	font-family 'Open Sans', sans-serif
	font-weight 100
	font-size 1.7rem
	height auto
	padding 1em 0 1em 0
	text-align center
	width 100%
		
.Leyenda
	height auto
	margin 0 auto
	margin-top 5rem
	max-width 1100px
	text-align center
	width 100%
	p
		color #FFF
		font-family 'Voltaire', sans-serif
		font-size 3rem
		font-weight normal
		line-height 19px
		

.Nosotros
	height auto
	margin 0 auto
	max-width 1000px
	width 100%
	h2
		color grey
		font-family 'Voltaire', sans-serif
		font-size 1.5rem
		font-weight 100
		padding 1.8em 0 0 0
	p
		font-family 'Open Sans', sans-serif
		font-size 1.2rem
		font-weight 100
		line-height 35px
		
.Servicios
	background lightgrey
	height auto
	padding 1em 0 1em 0
	width 100%
	.Contenedor_servicios
		height auto
		margin 0 auto
		max-width 1000px
		width 100%
		.Col_servicios1
			display inline-block
			vertical-align top
			width 68%
			h2
				color grey
				font-family 'Voltaire', sans-serif
				font-size 1.3rem
				font-weight 100
			ul
				margin 0
				padding 0
				li
					color #333
					font-size 1rem
					font-family 'Open Sans', sans-serif
					font-weight normal
					list-style none
					line-height 30px
		.Col_servicios2
			display inline-block
			vertical-align top
			width 25%
			h2
				color grey
				font-family 'Voltaire', sans-serif
				font-size 1.3rem
				font-weight 100
			ul
				margin 0
				padding 0
				li
					color #333
					font-size 1rem
					font-family 'Open Sans', sans-serif
					font-weight normal
					list-style none
					line-height 30px

.Tel
	color #FFF
	font-size .8rem
	margin 0 auto
	max-width 500px
	margin-top 1.4rem
	text-align center
	width 100%
	p
		line-height 26px
		margin-top -1em
		a
			color lightgrey
			text-decoration none
		a:hover
			color #fff